<div class="page listings-add">
  <div class="center add">
    <section id="add-listing" class="listing-form center">
      <h1>Add a listing</h1>
      <form action="/listings/add" method="POST" enctype="multipart/form-data">
        <div class="form-item">
          <input type="text" name="title" id="title" placeholder="Title *" required>
        </div>
        <div class="form-item">
          <input type="url" name="videoUrl" id="url" placeholder="Video URL *" required>
        </div>
        <div class="form-item">
          <label for="image-file">Image</label>
          <input type="file" name="imageFile" id="image-file" placeholder="Image File">
        </div>
        <div class="form-item">
          <input type="text" name="description" id="description" placeholder="Description *" required>
        </div>
        <div class="form-item">
          <input type="number" name="year" id="year" placeholder="Year *" maxlength="4" max="2020" min="1900" required>
        </div>
        <div class="form-item">
          <input type="number" name="duration" id="duration" placeholder="Duration (minutes)">
        </div>
        <div class="form-item">
          <label for="genre">Genre *</label>
          <select name="genre" id="genre" required>
            {{#each genres}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-item">
          <label for="source">Source type *</label>
          <select name="source" id="source" required>
            {{#each sources}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-item">
          <button class="btn-form">Submit</button>
        </div>
      </form>
    </section>
  </div>
  {{#if messages}}
    <p>
      <ul class="exception">
        {{#each messages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </p>
  {{/if}}
  </section>
</div>